<a href="https://colab.research.google.com/github/MrCherveN/Machine-Learning--4-0_HomeTasks/blob/main/HW4_%D0%A6%D0%B8%D0%BA%D0%BB_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Цикл for - базовий**

Використовуючи цикл `for`, виведіть числа від 1 до 7 включно використовуючи функцію range.

In [4]:
for i in range(1,8):
  print(i)

1
2
3
4
5
6
7


---

**2. Цикл for по списку**

Дано список:

In [5]:
names = ["Олег", "Анна", "Іван", "Марія"]


Використовуючи цикл, виведіть кожне ім'я з привітанням: "Привіт, [ім'я]!"

In [6]:
for name in names:
  print(f"Привіт, {name}!")

Привіт, Олег!
Привіт, Анна!
Привіт, Іван!
Привіт, Марія!


---

**3. Цикл з enumerate**

Дано список оцінок:

In [8]:
grades = [85, 92, 78, 95, 88]


Використовуючи `enumerate`, виведіть кожну оцінку з номером: "Студент 1: 85 балів"

In [10]:
for i, n in enumerate(grades):
  print(f'Студент {i+1}: {n} балів')

Студент 1: 85 балів
Студент 2: 92 балів
Студент 3: 78 балів
Студент 4: 95 балів
Студент 5: 88 балів

**4. Сума парних чисел**

Напишіть програму, яка обчислює суму всіх парних чисел від 1 до 20.

In [13]:
print(sum([i for i in range(1,21) if i % 2 == 0]))

110